.container-sns {
  display: inline-flex;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 17vmin;
  text-align: center;
}

.sns-google {
  margin-left: -35%;
}

.sns-kakao {
  width: 3vmin;
}

@media (max-width: 1000px), (max-height: 800px) {
  .sns-google {
    margin-left: -21%;
  }

  .sns-kakao {
    width: 2.52rem;
  }
}
