* {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.container-login {
  position: fixed;
  top: 24%;
  right: 0;
  left: 0;
}

.header {
  font-size: 2rem;
  font-weight: 500;
}

.container-input {
  margin-top: 3vmin;
  line-height: 7vmin;
}

input[type="text"] {
  width: 40vmin;
  min-width: 20rem;
  height: 4.5vmin;
  min-height: 2.5rem;
  text-align: left;
  padding-left: 1.5vmin;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 1rem;
}

input:focus {
  outline: none !important;
  border: 1.4px solid #af2525;
}

.container-checkbox {
  display: inline-flex;
  margin-top: 1vmin;
  letter-spacing: 0.1vmin;
}

.container-button {
  margin-top: 2vmin;
}

button[type="submit"] {
  width: 40vmin;
  min-width: 20rem;
  height: 4.5vmin;
  min-height: 3rem;
  background-color: #af2525;
  color: white;
  border: 0;
  border-radius: 8px;
  margin-top: 7vmin;
}

.container-find {
  margin-top: 1.5vmin;
}

button[type="button"] {
  background-color: transparent;
  border: 0;
  margin-right: 6vmin;
  font-size: 1.15vmin;
}

button[type="button"]:nth-of-type(1) {
  margin-left: 5vmin;
}

img {
  width: 100%;
  height: 100%;
}

.container-sns {
  margin-top: 3.5vmin;
}

.sns-kakao,
.sns-google {
  width: 4vmin;
  margin-left: 3vmin;
}

@media (max-width: 1000px), (max-height: 800px) {
  .container-input {
    line-height: 3.6rem;
  }

  input[type="text"] {
    font-size: 0.8rem;
  }

  button[type="button"] {
    font-size: 0.75rem;
  }
}
