.container-login {
  text-align: center;
  position: fixed;
  top: 24%;
  right: 0;
  left: 0;
}

.header {
  font-size: 2rem;
  font-weight: 500;
}

.container-input {
  margin-top: 3vmin;
  line-height: 7vmin;
}

.id-box,
.pw-box {
  width: 40vmin;
  min-width: 20rem;
  height: 4.5vmin;
  min-height: 2.5rem;
  text-align: left;
  padding-left: 1.5vmin;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 1rem;
}

.container-checkbox {
  display: inline-flex;
  margin-top: 1vmin;
  letter-spacing: 0.1vmin;
}

.container-button {
  margin-top: 2vmin;
}

.login-button {
  width: 40vmin;
  min-width: 20rem;
  height: 4.5vmin;
  min-height: 3rem;
  background-color: #af2525;
  color: white;
  border: 0;
  border-radius: 8px;
  margin-top: 7vmin;
  cursor: pointer;
}

.container-find {
  margin-top: 1.5vmin;
}

.find-id,
.find-pw,
.sign-up {
  margin-right: 6vmin;
  font-size: 1.15vmin;
}

.find-id {
  margin-left: 5vmin;
}

img {
  width: 100%;
  height: 100%;
}

.container-sns {
  margin-top: 3.5vmin;
}

.sns-kakao,
.sns-google {
  width: 4vmin;
  margin-right: 5vmin;
  margin-left: 5vmin;
}

@media (max-width: 1000px), (max-height: 800px) {
  .container-input {
    line-height: 3.6rem;
  }

  .id-box,
  .pw-box {
    font-size: 0.8rem;
  }

  .find-id,
  .find-pw,
  .sign-up {
    font-size: 0.75rem;
  }

  .sns-kakao,
  .sns-google {
    width: 2.2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
