.pw-box {
  width: 40vmin;
  min-width: 20rem;
  height: 4.5vmin;
  min-height: 2.5rem;
  text-align: left;
  padding-left: 1.5vmin;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 1rem;
}

.container-eye {
  margin-top: -6.3vmin;
  margin-left: 36vmin;
}

.eye {
  cursor: pointer;
  width: 2vmin;
  height: 2vmin;
}

@media (max-width: 1000px), (max-height: 800px) {
  .pw-box {
    font-size: 0.8rem;
  }

  .container-eye {
    margin-left: 18rem;
    margin-top: -3.5rem;
  }

  .eye {
    width: 2rem;
    height: 1rem;
  }
}
